extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Name
        h1 Melissa Preece

        //- Title Text
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Bio/Pitch (update often / tailor to every job application)
        .portfolio-bio
          p
            | Hey there prospective employer! Thanks for visiting my portfolio website. I live in California with my husband and two young kids. I have been interested in web development since 2011 and finally made the career jump!
            | Before entering the world of coding, I worked at Bonhams auction house in Advertising and then on to Public Relations, but soon realized I yearned for that coding life when I became involved in my company's launch of their new website.
            | When I am not busy plugging away at some application, I enjoy spending time with my family doing things outdoors.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Development Skills (update often)
        ul
          li JavaScript
          li HTML
          li CSS
          li Development tools
          li Testing and debugging 
          li jQuery
          li API, REST API utilization
          li AJAX
          li Express
          li Asynchronous programming
          li Object-oriented programming 
          li React
          li Node
          li SQL, Relational databases
        h6 Contact Info

        //- Contact Info
        ul
          li 323-868-8297
          li melissanchez@gmail.com

        //- Social Media Info
        a.button.expanded(href='https://www.linkedin.com/in/melissa-preece-14633622/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/melpre', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/melissanchez', target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  